@import 'variables';

*,
*:before,
*:after {
  box-sizing: border-box;
}

*, *:focus {
  outline: none;
}

body {
  position: relative;
  overflow-x: hidden;
  font-size: 14px;
  color: $colorWhite;

  * {
    font-family: 'Lato', sans-serif;
  }
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}